:root {
	--p__laboral-day: {
		font-size: 18px;
		font-weight: bold;
		color: rbga(55, 65, 81, 1);
	}
	--p__weekend-day: {
		font-size: 18px;
		font-weight: normal;
		color: rbga(55, 65, 81, 1);
	}
	--p__other-month: {
		font-size: 18px;
		font-weight: normal;
		color: rbga(209, 213, 219, 1);
	}
}
